{{! Use the main layout }}
{{! Set the title variable }}
{{#> layout title="Home Page"}}

<div id="browse">
    <h3 class="table-name">Overview</h3>

    <p class="normal-text">Marvel Rivals is a competitive online platform where players engage in epic battles using iconic MCU characters and dynamic alliances in a 6v6 player-versus-player, third-person hero shooter gameplay. With over 350,000 active players annually and 20,000 matches occurring daily, the platform has become a global phenomenon in online gaming. This popularity generates an overwhelming volume of gameplay data, including player rankings, character performance, alliance interactions, and match statistics. Additionally, the MCU is immense and the developers plan on adding new characters every 45 days. The sheer scale of activity and incoming content demands a sophisticated solution to efficiently manage and store this critical data while supporting the platform's growing player base.</p>
    <p class="normal-text">To address this challenge, the Datavengers Database will serve as the backbone for tracking and managing all player and gameplay metrics. This system will store detailed records of Players, Characters, Alliances, and Battles, ensuring seamless retrieval and analysis of information. By leveraging the database, Marvel Rivals can provide advanced insights to stakeholders, enhance player engagement through performance tracking, and scale effortlessly to support up to 700,000 concurrent players and new characters. The Datavengers Database will streamline data management and empower future innovations for the platform.</p>
</div>

{{/layout}}
