<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <link rel="stylesheet" href="style.css">


    </head>
    <body>
        <header>
            <img src="logo.webp" alt="Logo" class="logo">
            <h1 class="page-title">Home Page</h1>
        </header>

        <nav class="navbar">
            <ul class="navlist">
              <li class="navitem"><a href="index">Home</a></li>
              <li class="navitem"><a href="players">Players</a></li>
              <li class="navitem"><a href="battles">Battles</a></li>
              <li class="navitem"><a href="characters">Characters</a></li>
              <li class="navitem"><a href="abilities">Abilities</a></li>
              <li class="navitem"><a href="alliances">Alliances</a></li>
            </ul>
        </nav>

        <div>
            <h3>Welcome to the Datavengers Database Application!</h2>
        </div>
        <script src="script.js"></script>
    </body>
</html>
